---
version: '3'

services:
  app:
    entrypoint: [bin/start]
    image: "{{ greenlight_docker_image }}"
    container_name: greenlight-v2
    env_file: .env
    environment:
      TZ: "Europe/Berlin"
    ports:
    - 127.0.0.1:5000:80
    volumes:
    - "{{ greenlight_logdir }}:/usr/src/app/log"
    - "{{ greenlight_storage_dir }}:/usr/src/app/storage"
{% if greenlight_terms is defined %}
    - ./terms.md:/usr/src/app/config/terms.md
{% endif %}
{% if greenlight_db_docker %}
    depends_on:
    - db
{% endif %}
    restart: unless-stopped

{% if greenlight_db_docker %}
  db:
    image: "postgres:{{ greenlight_postgres_version_docker_tag }}"
    ports:
    - 127.0.0.1:5432:5432
    volumes:
    - /var/lib/postgresql:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: "{{ greenlight_db_name }}"
      POSTGRES_USER: "{{ greenlight_db_user }}"
      POSTGRES_PASSWORD: "{{ greenlight_db_pass }}"
      TZ: "Europe/Berlin"
      PGTZ: "Europe/Berlin"
    restart: unless-stopped
{% endif %}
