
limit_req_zone $binary_remote_addr zone=req_zone:10m rate=30r/s;
limit_conn_zone $binary_remote_addr zone=conn_zone:10m;

server {
  server_name {{ ansible_host }} {{ greenlight_aliases|join(' ') }};
  listen 80;
  # TODO make var listen [::]:80;

  return 301 https://$host$request_uri;
}

server {
  server_name {{ ansible_host }} {{ greenlight_aliases|join(' ') }};

  listen 443 ssl http2 default reuseport;
  # TODO make var listen [::]:443 ssl;

  ssl_certificate {{ greenlight_ssl_cert}};
  ssl_certificate_key {{ greenlight_ssl_key }};
  ssl_session_cache shared:SSL:10m;
  ssl_session_timeout 10m;
  ssl_protocols TLSv1.3 TLSv1.2;
  ssl_ecdh_curve X25519:prime256v1:secp384r1;
  ssl_ciphers "ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS:!AES256";
  ssl_prefer_server_ciphers on;
  ssl_dhparam /etc/nginx/ssl/dhp-4096.pem;
  resolver 130.75.1.32 130.75.1.40 valid=10m ipv6=off;
  resolver_timeout 1s;

  # Request/Conn Limit
  limit_req zone=req_zone burst=150 delay=50;
  limit_req_status 429;
  limit_conn conn_zone 25;
  limit_conn_dry_run off;
  limit_req_dry_run off;

  # TODO security-header

  access_log  /var/log/nginx/greenlight_access.log;

  # Redirect server error pages to the static page /50x.html
  #
  error_page  500 502 503 504  /50x.html;
  location = /50x.html {
    # TODO use existing path
          root   /var/www/nginx-default;
  }

  # Routes requests to Greenlight based on the '/b' prefix.
  # Use this file to route '/b' paths on your BigBlueButton server
  # to the Greenlight application. If you are using a different
  # subpath, you should change it here.

  location {{ '/' if greenlight_relative_url_root == '' else greenlight_relative_url_root }} {
    proxy_pass          http://127.0.0.1:5000;
    proxy_set_header    Host              $host;
    proxy_set_header    X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header    X-Forwarded-Proto $scheme;
    proxy_http_version  1.1;
  }

  location {{ '' if greenlight_relative_url_root == '/' else greenlight_relative_url_root }}/cable {
    proxy_pass          http://127.0.0.1:5000;
    proxy_set_header    Host              $host;
    proxy_set_header    X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header    X-Forwarded-Proto $scheme;
    proxy_set_header    Upgrade           $http_upgrade;
    proxy_set_header    Connection        "Upgrade";
    proxy_http_version  1.1;
    proxy_read_timeout  6h;
    proxy_send_timeout  6h;
    client_body_timeout 6h;
    send_timeout        6h;
  }

  # Allow larger body size for uploading presentations
  location ~ /preupload_presentation$ {
    client_max_body_size {{ greenlight_max_presentation_upload_size }};

    proxy_pass          http://127.0.0.1:5000;
    proxy_set_header    Host              $host;
    proxy_set_header    X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header    X-Forwarded-Proto $scheme;
    proxy_http_version  1.1;
  }

  {% if greenlight_relative_url_root != '/' %}
  # Only needed if using presentations and deployed at a relative root (for ex "/b")
  location /rails/active_storage {
    return 301 {{ greenlight_relative_url_root }}$request_uri;
  }
  {% endif %}

  include snippets/locations/*.conf;

}
